// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Colors
//

// UGA Palette
$arch: #000000;
$bulldog: #BA0C2F;
$chapelbell: #FFFFFF;
$gloryglory: #E4002B;
$pandora: #FFCD00;
$sanford: #554F47;
$stegeman: #9EA2A2;
$hedges: #BFB800;
$jacksonoak: #B7BF10;
$hertyfield: #594A25;
$creamery: #D6D2C4;
$lakeherrick: #00A3AD;
$olympic: #004E60;
$athens: #66435A;
$odyssey: #C8D8EB;

// Standard Names
$red: $bulldog;
$bright-red: $gloryglory;
$yellow: $pandora;
$grey: $sanford;
$gray: $grey;
$medium-grey: $grey;
$medium-gray: $grey;
$light-grey: $stegeman;
$light-gray: $light-grey;
$dark-grey: darken($sanford, 20%);
$dark-gray: $dark-grey;
$light-green: $hedges;
$green: $jacksonoak;
$brown: $hertyfield;
$beige: $creamery;
$bright-blue: $lakeherrick;
$blue: $olympic;
$purple: $athens;
$light-blue: $odyssey;
$black: $arch;
$white: $chapelbell;

$colors: ();
$colors: map-merge((
  "red": $red,
  "bright-red": $bright-red,
  "yellow": $yellow,
  "grey": $grey,
  "gray": $gray,
  "medium-grey": $medium-grey,
  "medium-gray": $medium-gray,
  "light-grey": $light-grey,
  "light-gray": $light-gray,
  "dark-grey": $dark-grey,
  "dark-gray": $dark-gray,
  "light-green": $light-green,
  "green": $green,
  "brown": $brown,
  "beige": $beige,
  "bright-blue": $bright-blue,
  "blue": $blue,
  "purple": $purple,
  "light-blue": $light-blue,
  "black": $black,
  "white": $white
), $colors);

$primary:       $red;
$secondary:     $black;
$success:       $green;
$info:          $bright-blue;
$warning:       $yellow;
$danger:        $bright-red;
$light:         $beige;
$dark:          $dark-grey;

// Links
//
// Style anchor elements.

$link-color:                color("bright-blue");

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

@import url('//fonts.googleapis.com/css?family=Merriweather+Sans:300|Merriweather:300');

$font-family-sans-serif: 'Merriweather Sans', 'Tahoma', 'Helvetica Neue', Arial, sans-serif;
$font-family-serif:      'Merriweather', Georgia, 'Times New Roman', Times, serif;
$font-family-block:      'Oswald', 'Impact', 'Arial Narrow', 'Helvetica Neue';
