body {
  margin: 0;
}
@mixin footer-link-style {
  color: fade-out($white, 0.4);
  text-decoration: none;
  transition: color 100ms ease-in;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}
.ugafooter {
  box-sizing: border-box;
  padding: 48px 0;
  border-width: 4px 0 0;
  border-style: solid;
  border-color: $red;
  background: url("../img/background-arch.jpg") $black center center no-repeat;
  background-size: cover;
  font-size: 16px;
  font-family: $font-family-serif;
  &--border-white {
    border-color: $white;
  }
  &--border-grey {
    border-color: $grey;
  }
  &--no-border {
    border-width: 0;
  }
  &__container {
    box-sizing: border-box;
    @include make-container();
    @include make-container-max-widths();
  }
  &__row {
    @include make-row();
    &--primary {
      margin-bottom: 1em;
      align-items: center;
    }
    &--secondary {
      align-items: center;
    }
  }
  &__links {
    box-sizing: border-box;
    @extend .col-md-7;
  }
  &__logo {
    box-sizing: border-box;
    margin-bottom: 2em;
    @extend .col-md-5;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }
  &__logo-link {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: 170px;
    background-color: transparent;
    background-image: url("../img/UGAlogo_Vertical_CW_MARCM.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    @include text-hide;
    @include media-breakpoint-up(md) {
      margin: 0;
      max-width: 300px;
      height: 80px;
      background-image: url("../img/UGAlogo_Formal_CW_MARCM.png");
      background-position: left top;
    }
  }
  &__links-list {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    text-align: center;
    line-height: 1.5;
    column-count: 2;
    column-gap: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-up(md) {
      display: block;
      text-align: left;
      column-count: 2;
      align-items: flex-start;
    }
    @include media-breakpoint-up(lg) {
      column-count: 3;
    }
    &-item {
      width: 50%;
      border: none;
      break-inside: avoid;
      @include media-breakpoint-up(md) {
        width: 100%;
      }
    }
    &-link {
      display: block;
      padding: 0.25em 1em;
      font-size: 0.75em;
      @include footer-link-style;
      @include media-breakpoint-up(md) {
        border-left: 1px fade-out($white, 0.7) solid;
        font-weight: 300;
      }
    }
  }

  &__address {
    box-sizing: border-box;
    color: fade-out($white, 0.4);
    text-align: center;
    font-weight: 300;
    font-size: 0.75em;
    font-family: $font-family-sans-serif;
    @extend .col-md-5;
    @include media-breakpoint-up(md) {
      text-align: left;
      order: 1;
    }
    &-telephone {
      @include footer-link-style();
    }
  }
  &__social {
    box-sizing: border-box;
    margin-bottom: 1em;
    color: $white;
    text-align: center;
    font-weight: 300;
    font-size: 1.5em;
    @extend .col-md-7;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      text-align: left;
      order: 2;
    }
    &-label {
      display: block;
      @include media-breakpoint-up(md) {
        display: inline;
      }
    }
    &-link {
      @include footer-link-style;
    }
  }
}
